{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}

<div class="contact">
    <div class="contact_sectiontitle">
        <div class="contact_sectiontitle_head">Feedback Form</div>
        <div class="contact_sectiontitle_content">
            <div class="contact_sectiontitle_content_head">Get in Touch</div>
            <div class="contact_sectiontitle_content_text">Fill out the form below to request a quote or consultation.</div>
        </div>
    </div>
    <form method="post" class="contact_form">
        <div class="contact_form_tabl">
            <div class="contact_form_tabl_left">
                <label for="full_name">Full Name</label>
                <input type="text" name="full_name" required>
            </div>
            <div class="contact_form_tabl_right">
                <label for="email">Email</label>
                <input type="email" name="email" required>
            </div>
        </div>
        <label for="subject">Subject</label>
        <input type="text" name="subject" required>
        <label for="message">Message</label>
        <textarea class="mrg_down_24px" placeholder="Type your message here..." required></textarea>
        <button>Submit</button>
    </form>
</div>

{% endblock %}