/*начало общих стилей*/

.mrg_down_14px {
	margin-bottom: 14px;
}

.mrg_down_24px {
	margin-bottom: 24px;
}

.color_black {
	color: #000000;
}

.color_white {
	color: #ffffff;
}

/*конец общих стилей*/

@font-face {
	font-family: 'for_logo';
	src: url('/static/fonts/MuseoModerno-VariableFont_wght.ttf') format('truetype');
}

* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
	padding-top: 72px;
}

/*начало навбара*/
nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	border-bottom: 1px solid white;
	padding: 0px 64px 0px 64px;
	width: 100%;
	height: 72px;
	background-color: #012130;
	overflow: hidden;
	transition: height 0.5s ease-in-out;
}

.show_close_menu {
	position: absolute;
	display: none;
	right: 30px;
    top: 30px;
}	

.navbar_left {
	display: flex;
	align-items: center;
}

.navbar_left_img {
	margin-right: 10px;
	width: 31.1px; 
}

.navbar_container a {
	text-decoration: none;
}

.navbar_container font {
	font-family: 'for_logo', sans-serif;
	color: white;
	font-weight: 500;
	font-size: 40px;
}

.navbar_container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar_right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.navbar {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 32px;
	list-style-type: none;
	text-align: center;
}

.navbar li {
	display: inline-block;
}

.navbar a {
	display: block;
	text-decoration: none;
	color: white;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.learn, .sign_up {
	border-radius: 35px;
	padding: 8px, 20px, 8px, 20px;
	width: 95px;
	height: 40px;
	font-size: 16px;
}

.sign_up {
	background-color: #D0FFA3;
	color: black;
	border: none;
}

.learn {
	margin-right: 16px;
	background-color: #012130;
	border: solid 1px #D0FFA3;
	color: white;
}

@media screen and (max-width: 860px){
	.navbar_container font {
		font-size: 32px;
	}

	.navbar_left_img {
        width: 27.1px;
	}

	.navbar {
		gap: 18px;
	}
}

@media screen and (max-width: 750px) {
	.navbar_left_img {
        width: 24.1px;
	}

	.navbar {
		gap: 12px;
	}

	.navbar_container font {
		font-size: 29px;
	}
}

@media screen and (max-width: 710px) {
	.navbar_container font {
		font-size: 26px;
	}

	.navbar_left_img {
        width: 21.28px;
	}

	.navbar_container {
		align-items: flex-start;
	    flex-direction: column;
	    justify-content: flex-start;
	}

	.navbar_left {
		padding: 12px 12px 0px 20px;
	}

	.navbar {
		grid-template-rows: repeat(5, 1fr);
    	grid-template-columns: 1fr;
    	text-align: left;
    	gap: 24px;
	}

	.navbar_right {
		padding: 16px 20px 160px 20px;
	}

	.navbar a {
		padding: 12px 0px 12px 0px;
		font-size: 18px;
		line-height: 27px;
	}

	.show_close_menu {
		display: block;
	}

	nav {
		height: 72px;
	}
}

/*конец навбара*/
/*начало футера*/

footer {
	padding: 80px 64px 80px 64px;
	background-color: #012130;
	color: white;
}

.newsletter_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.join_our_newsletter {
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
}

.join_our_newsletter_2 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.newsletter_right input {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: black;
	background-color: #D9D9D9;
	width: 265px;
	height: 48px;
	border-radius: 35px;
	border: solid 1px #FFFFFF;
	padding: 12px;
	margin-right: 8px;
	margin-bottom: 8px;
}

.newsletter_right button {
	color: #FFFFFF;
	background-color: #012130;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	width: 119px;
	height: 48px;
	border-radius: 35px;
	border: solid 1px #D0FFA3;
	padding: 12px 24px 12px 24px;
}

.links {
	margin: 40px 0px 40px 160px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}

.links a {
	text-decoration: none;
	color: white;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
}

.column_one {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}

.credits {
	height: 57px;
	border-top: solid 1px #D0FFA3;
	display: flex;
	align-items: flex-end;
}

.copyright {
	margin-right: 24px;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #FFFFFF;
}

@media screen and (max-width: 900px) {
	.newsletter_right input {
		width: 100%;
	}

	.newsletter_right button {
		width: 100%;
	}
}

@media screen and (max-width: 710px) {
	.newsletter_container {
		flex-wrap: wrap;
		gap: 24px;
	}

	.newsletter_right {
		width: 100%;
	}

	.newsletter_right input {
		margin-bottom: 16px;
	}

	.links {
		margin-left: 0px;
	}

	.column_one {
		margin-bottom: 12px;
	}
}

@media screen and (max-width: 510px) {
	.links {
		align-items: flex-start;
		flex-direction: column;
		margin-left: 0px;
	}

	.links a {
		padding: 8px 0px 8px 0px;
	}
}
/*конец футера*/

/*начало about us*/
.about_us_1 {
	width: 100%;
	padding: 112px 64px 112px 64px;
}

.about_us_1_container {
	width: 100%;
}

.about_us_1_container_content {
	align-items: center;
	height: 100%;
	display: grid;
	gap: 80px;
	grid-template-columns: 1fr 2fr;
}

.about_us_1_container_content_left {
	
}

.about_us_1_container_content_head {
	margin-bottom: 24px;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
}

.about_us_1_container_content_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.about_us_1_container_content_right {
	width: 100%;
	height: 640px;
	background-repeat: no-repeat;
	border-radius: 20px;
	background-size: cover;
	background-image: url("/static/img/flat_pattern_bg.png");
}

.about_us_2 {
	padding: 112px 64px 112px 64px;
	background-color: #012130;
}

.about_us_2_content {
	display: flex;
	gap: 80px;
}

.about_us_2_content_column1_text {
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
}

.about_us_2_content_column2_text_up {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	margin-bottom: 32px;
}

.about_us_2_content_column2_text_down {
	display: flex;
	gap: 24px;
	padding: 8px 0px 8px 0px;
}

.about_us_2_content_column2_text_down_left_number,
.about_us_2_content_column2_text_down_right_number {
	font-weight: 700;
	font-size: 48px;
	line-height: 57.6px;
	color: #FFFFFF;
}

.about_us_2_content_column2_text_down_left_text,
.about_us_2_content_column2_text_down_right_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
}

.about_us_2_img {
	margin-top: 80px;
	width: 100%;
	height: 738px;
	border-radius: 20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("/static/img/flat_pattern_bg.png");
}

.about_us_3 {
	padding: 112px 64px 112px 64px;
	background-color: #FFFFFF;
}

.about_us_3_sectiontitle {
	margin: 0 auto;
	margin-bottom: 80px;
}

.about_us_3_sectiontitle_head {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 16px;
	text-align: center;
}

.about_us_3_sectiontitle_content_head {
	margin-bottom: 24px;
	font-weight: 700;
	font-size: 48px;
	line-height: 57.6px;
	color: #000000;
	text-align: center;
}

.about_us_3_sectiontitle_content_text {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #000000;
	text-align: center;
}

.about_us_3_content_row {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 32px;
	margin-bottom: 64px;
}

.about_us_3_content_row_card_content_title_up {
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	color: #000000;
	text-align: center;
}

.about_us_3_content_row_card_content_title_down {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #000000;
	text-align: center;
	margin-bottom: 16px;
}

.about_us_3_content_row_card_content_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	text-align: center;
	margin-bottom: 16px;
}

.about_us_3_content_row_card_socialicons {
	text-align: center;
}

.about_us_3_content_row_card_socialicons a {
	margin-right: 14px;
}

.about_us_3_content_row_card {
	text-align: center;
}

.about_us_4 {
	padding: 112px 64px 112px 64px;
	background-color: #012130;
}

.about_us_4_container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 80px;
}

.about_us_4_container_content {
	width: 616px;
}


.about_us_4_container_content_sectiontitle_head {
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	margin-bottom: 24px;
}

.about_us_4_container_content_sectiontitle_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	margin-bottom: 32px;
}

.about_us_4_container_content_img {
	width: 100%;
	height: 640px;
	border-radius: 20px;
	background-image: url("/static/img/flat_pattern_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.about_us_4_container_content_list {
	padding: 8px 0px 8px 0px;
	gap: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.about_us_4_container_content_list_item_vector {
	background-image: url("/static/img/Vector.svg");
	width: 24px;
	height: 42px;
	margin-bottom: 16px;
}

.about_us_4_container_content_list_item_head {
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
	margin-bottom: 16px;
}

.about_us_4_container_content_list_item_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
}

.about_us_5 {
	padding: 80px 64px 80px 64px;
	background-color: #012130;
}

.about_us_5_continer {
	display: flex;
}

.about_us_5_continer_head {
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
	color: #FFFFFF;
	margin-right: 64px;
	width: 320px;
}

.about_us_5_logo {
	width: 169px;
	height: 36.65px;
	margin-right: 32px;
}

.about_us_5_openai {
	width: 142px;
	height: 35.13px;
	margin-right: 32px;
}

.about_us_6 {
	padding: 112px 64px 112px 64px;
}

.about_us_6_sectiontitle_head {
	font-weight: 700;
	font-size: 48px;
	line-height: 57.6px;
	color: #000000;
	text-align: center;
	margin-bottom: 24px;
}

.about_us_6_sectiontitle_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	text-align: center;
	margin-bottom: 80px;
}

.about_us_6_content {
	display: grid;
	gap: 32px;
	grid-template-columns: 1fr 1fr 1fr;
}

.about_us_6_content_img1 {
	background-image: url("/static/img/flat_pattern_bg.png");
}

.about_us_6_content_img2 {
	background-image: url("/static/img/flat_pattern_bg.png");
}

.about_us_6_content_img3 {
	background-image: url("/static/img/flat_pattern_bg.png");
}

.about_us_6_content_img1, .about_us_6_content_img2, .about_us_6_content_img3 {
	background-repeat: no-repeat;
	border-radius: 20px;
	width: 100%;
	height: 416px;
	margin-right: 32px;
	background-size: cover;
}

.about_us_7 {
	position: relative;
	padding: 112px 64px 112px 64px;
	background: #01213080;
}

.about_us_7_img {
	background-image: url('/static/img/flat_pattern_bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.about_us_7_column_content_head {
	font-weight: 700;
	font-size: 48px;
	line-height: 57.6px;
	color: white;
	margin-bottom: 24px;
}

.about_us_7_column_content_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: white;
	margin-bottom: 24px;
}

.about_us_7_column_actions {
	padding-top: 16px;
}

.about_us_7_column_actions_feedback, 
.about_us_7_column_actions_service {
	border-radius: 35px;
	border: solid 1px #D0FFA3;
	padding: 12px 24px 12px 24px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.about_us_7_column_actions_feedback {
	background-color: #D0FFA3;
	color: #012130;
}

.about_us_7_column_actions_service {
	background-color: #01213080;
	color: white;
}
/*конец about us*/

/*начало services*/
.services_1 {
	padding: 112px 64px 112px 64px;
}

.services_1_content{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 80px;
}

.services_1_content_left_text {
	font-weight: 700;
	font-size: 56px;
	line-height: 67.2px;
	color: #012130;
}

.services_1_content_right_text {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #012130;
}

.services_2 {
	padding: 112px 64px 112px 64px;
	text-align: center;
}

.services_2_content {
	display: inline-block;
}

.services_2_content_column {
	margin-right: 48px;
	margin-bottom: 48px;
	text-align: center;
	display: inline-block;
	width: 405.33px;
}

.services_2_content_column:last-child {
	margin-right: 0px;
}

.services_2_content_column_content_head {
	font-weight: 700;
	font-size: 32px;
	line-height: 41.6px;
	color: #012130;
	margin-bottom: 24px;
}

.services_2_content_column_content_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #012130;
	margin-bottom: 24px;
}

.services_2_content_column_action a {
	text-decoration: none;
	color: #012130;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.services_2_content_column_action button {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	border-radius: 35px;
	padding: 12px 24px 12px 24px;
	border: solid 1px #13678B;
	background-color: white;
}

.services_2_content_column_action img {
	vertical-align: middle;
	margin-left: 8px;
}
/*конец services*/

/*начало list_page*/
.list_page_1 {
	padding: 112px 64px 112px 64px;
	background-color: #FFFFFF;
}

.list_page_1_sectiontitle_head {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 16px;
}

.list_page_1_sectiontitle_content_head {
	font-weight: 700;
	font-size: 56px;
	line-height: 67.2px;
	color: #000000;
	margin-bottom: 24px;
}

.list_page_1_sectiontitle_content_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 80px;
}

.list_page_1_content_card {
	margin-bottom: 88px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.list_page_1_content_card_left {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 500px;
	border-radius: 20px;
	background-image: url("/static/img/flat_pattern_bg.png");
}

.list_page_1_content_card_right {
	padding: 0px 0px 0px 48px;
}

.list_page_1_content_card_right_content_head {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 8px;
}

.list_page_1_content_card_right_content_blog {
	font-weight: 700;
	font-size: 32px;
	line-height: 41.6px;
	color: #000000;
	margin-bottom: 8px;
}

.list_page_1_content_card_right_content_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 24px;
}

.list_page_1_content_card_right_avatar {
	display: flex;
}

.list_page_1_content_card_right_avatar_img {
	background-image: url("/static/img/flat_pattern_bg.png");
	width: 48px;
	height: 48px;
	border-radius: 20px;
	margin-right: 16px;
}

.list_page_1_content_card_right_avatar_content_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.list_page_1_content_card_right_avatar_content_time {
	display: flex;
}

.list_page_1_content_card_right_avatar_content_time_1 {
	ont-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-right: 8px;
}

.list_page_1_content_card_right_avatar_content_time_2 {
	ont-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #000000;
	margin-right: 8px;
}

.list_page_1_content_card_right_avatar_content_time_3 {
	ont-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.list_page_1_content_content_categories {
	margin-bottom: 64px;
}

.list_page_1_content_content_categories button {
	border-radius: 20px;
	padding: 8px 16px 8px 16px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	background-color: white;
	border: none;
}

.list_page_1_content_content_content_row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 32px;
	margin-bottom: 64px;
}

.list_page_1_content_content_content_row_card_img {
	background-image: url("/static/img/flat_pattern_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 416px;
	height: 300px;
	border-radius: 20px;
	margin-bottom: 24px;
}

.list_page_1_content_content_content_row_card_content {
	margin-bottom: 24px;
}

.list_page_1_content_content_content_row_card_content_1 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 8px;
}

.list_page_1_content_content_content_row_card_content_2 {
	font-weight: 700;
	font-size: 24px;
	line-height: 33.6px;
	color: #000000;
	margin-bottom: 8px;
}

.list_page_1_content_content_content_row_card_content_3 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

/*конец list_page*/

/*начало blog_post*/
.blog_post1 {
	padding: 112px 64px 112px 64px;
} 

.blog_post1_content {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 80px;
}

.blog_post1_content_right {
	background-image: url("/static/img/flat_pattern_bg.png");
	width: 100%;
	height: 100%;
}

.blog_post1_content_left_sectiontitle_social_head {
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	margin-bottom: 16px;
}

.blog_post1_content_left_sectiontitle_social_icons_1,
.blog_post1_content_left_sectiontitle_social_icons_2,
.blog_post1_content_left_sectiontitle_social_icons_3,
.blog_post1_content_left_sectiontitle_social_icons_4 {
	margin-right: 8px;
	border-radius: 64px;
	padding: 4px;
	background: var(--Color-Neutral-neutral-lightest, #EEEEEE);
}

.blog_post1_content_left_sectiontitle_title_content1 {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.blog_post1_content_left_sectiontitle_title_content1_blog,
.blog_post1_content_left_sectiontitle_title_content1_category {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-right: 8px;
}

.blog_post1_content_left_sectiontitle_title_content1_icon {
	background-image: url("/static/img/arrow.svg");
	width: 16px;
	height: 16px;
	margin-right: 8px;
}

.blog_post1_content_left_sectiontitle_title_content2_blog {
	font-size: 48px;
	font-weight: 700;
	line-height: 57.6px;
	margin-bottom: 48px;
}

.blog_post1_content_left_sectiontitle_title_content2_content_container {
	display: flex;
	margin-bottom: 8px;
}

.blog_post1_content_left_sectiontitle_title_content2_content_container_by {
	margin-right: 4px;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.blog_post1_content_left_sectiontitle_title_content2_content_container_name {
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
}

.blog_post1_content_left_sectiontitle_title_content2_content_time {
	display: flex;
}

.blog_post1_content_left_sectiontitle_title_content2_content_time_1,
.blog_post1_content_left_sectiontitle_title_content2_content_time_3 {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	margin-right: 8px;
}

.blog_post1_content_left_sectiontitle_title_content2_content_time_2 {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	margin-right: 8px;
}

.blog_post2 {
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: 112px 64px 112px 64px;
	gap: 80px;
}

.blog_post2_richtext {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #000000;
}

/*конец blog_post*/

/*начало contact*/

.contact {
	width: 70%;
	margin: auto;
	padding: 112px 64px 112px 64px;
}

.contact_sectiontitle_head {
	margin-bottom: 16px;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	color: #012130;
}

.contact_sectiontitle {
	margin-bottom: 48px;
}

.contact_sectiontitle_content_head {
	margin-bottom: 16px;
	font-size: 48px;
	font-weight: 700;
	line-height: 57.6px;
	color: #012130;
}

.contact_sectiontitle_content_text {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #012130;
}

.contact_form_tabl {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;
}

.contact_form label {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #012130;
	margin-bottom: 8px;
}

.contact_form label
{
	display: block;
}

.contact_form input[type="email"],
.contact_form input[type="text"] {
	border: 1px solid #13678B;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 12px;
	border-radius: 35px;
	width: 100%;
	margin-bottom: 24px;
}

.contact_form button {
	border: 1px solid #13678B;
	padding: 12px 24px 12px 24px;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	background-color: #13678B;
	border-radius: 35px;
}

.contact_form textarea {
	padding: 12px;
	border-radius: 20px;
	border: solid 1px #13678B;
	min-width: 100%;
	max-width: 100%;
	min-height: 180px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
/*конец contact*/

/*начало хома*/
.home_1_front {
	background-color: #012130;
	height: 900px;
	padding: 0px 64px 0px 64px;
}

.home_1_container {
    width: 560px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home_1_container_content_head {
	font-weight: 700;
	font-size: 50px;
	line-height: 67.2px;
	color: #FFFFFF;
	margin-bottom: 24px;
}

.home_1_container_content_text {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #FFFFFF;
	margin-bottom: 24px;
}

.home_1_container_baton_learnmore{
	border-radius: 35px;
	border: solid 1px #D0FFA3;
	padding: 12px 24px 12px 24px;
	background-color: #D0FFA3;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #012130;
}

.home_1_container_baton_singup {
	border-radius: 35px;
	border: solid 1px #D0FFA3;
	padding: 12px 24px 12px 24px;
	background-color: #cfffa300;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
}

.home_2_front {
	padding: 112px 64px 112px 64px;
}

.home_2_container {
	align-items: center;
	display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.home_2_container_content {
	margin-right: 24px;
}

.home_2_container_content_vector {
	margin-bottom: 24px;
}

.home_2_container_content_section_title_content {
	width: 616px;
	height: 154px;
}

.home_2_container_content_head {
	font-weight: 700;
	font-size: 46px;
	line-height: 57.6px;
	color: #000000;
	margin-bottom: 24px;
}

.home_2_container_content_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 24px;
}

.home_2_container_baton {
    padding: 16px 0px 0px 0px;
    display: flex;
    align-items: center;
}

.home_2_container_baton_learnmore{
	border-radius: 35px;
	border: solid 1px #13678B;
	padding: 12px 24px 12px 24px;
	background-color: #cfffa300;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #012130;
	margin-right: 24px;
}

.text_strelka {
	display: flex;
	gap: 8px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-top: 8px;
}

.text_strelka a{
	text-decoration: none;
	color: #000000;
}

.home_2_container_content_section_img {
	height: 640px;
	border-radius: 35px;
	background-image: url("/static/img/flat_pattern_bg.png");
	background-repeat: no-repeat;
}

.home_3_front {
	background-color: #012130;
	padding: 112px 64px 112px 64px;
}

.home_3_container {
	align-items: center;
	display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.home_3_container_content_content {
	margin-bottom: 16px;
}

.home_3_container_content_content_section_title {
	margin-bottom: 16px;
}

.home_3_container_content_subherding {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	margin-bottom: 16px;
}

.home_3_container_content_content_section_title_content {
	width: 616px;
}

.home_3_container_content_head {
	font-weight: 700;
	font-size: 48px;
	line-height: 57.6px;
	color: #ffffff;
	margin-bottom: 24px;
}

.home_3_container_content_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	margin-bottom: 24px;
}

.home_3_container_content_content_list {
	/* height: 144px; */
	padding: 8px 0px 8px 0px;
}

.home_3_container_content_content_list_item_1 {
	gap: 16px;
	display: flex;
	margin-bottom: 24px;
}

.home_3_container_content_content_list_item_text_1 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
}

.home_3_container_content_content_list_item_2 {
	gap: 16px;
	display: flex;
	margin-bottom: 24px;
}

.home_3_container_content_content_list_item_text_2 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	gap: 16px;
}

.home_3_container_content_content_list_item_3 {
	gap: 16px;
	display: flex;
	margin-bottom: 24px;
}

.home_3_container_content_content_list_item_text_3 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
}

.home_3_container_baton {
    padding: 16px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.home_3_container_baton_learnmore{
	border-radius: 35px;
	border: solid 1px #D0FFA3;
	padding: 12px 24px 12px 24px;
	background-color: #cfffa300;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
}
.home_3_container_baton_singup {
	border-radius: 35px;
	border: solid 1px #cfffa300;
	padding: 12px 24px 12px 24px;
	background-color: #cfffa300;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
}

.home_3_container_content_section_img {
	height: 640px;
	border-radius: 35px;
	background-image: url("/static/img/flat_pattern_bg.png");
	background-repeat: no-repeat;
}

.home_4_front {
	background-color: #ffffff;
	padding: 112px 64px 112px 64px;
}

.home_4_container_text {
	margin-bottom: 80px;
}

.home_4_text {
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	color: #000000;
}


.home_4_row {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;

}

.home_4_row_list_item_1 {
	width: 405.33px;
	height: 268px;
	gap: 24px;
	margin-bottom: 24px;
}

.home_4_row_vector_1 {
	margin-bottom: 24px;
}

.home_4_row_text_heading_1 {
	font-weight: 700;
	font-size: 24px;
	line-height: 33.6px;
	color: #000000;
	margin-bottom: 24px;
}

.home_4_row_text_text_1 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 24px;
}

.home_4_container_baton_1 {
	height: 32px;
    width: 405.33px;
    padding: 8px 0px 0px 0px;
}





.home_4_row_list_item_2 {
	width: 405.33px;
	height: 268px;
	gap: 24px;
	margin-bottom: 24px;
}

.home_4_row_vector_2 {
	margin-bottom: 24px;
}

.home_4_row_text_heading_2 {
	font-weight: 700;
	font-size: 23px;
	line-height: 33.6px;
	color: #000000;
	margin-bottom: 24px;
}

.home_4_row_text_text_2 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 24px;
}

.home_4_container_baton_2 {
	height: 32px;
    width: 405.33px;
    padding: 8px 0px 0px 0px;
}

.home_4_container_baton_SignUp{
	border-radius: 35px;
	border: solid 1px #00000000;
	background-color: #00000000;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}



.home_4_row_list_item_3 {
	width: 405.33px;
	height: 268px;
	gap: 24px;
}

.home_4_row_vector_3 {
	margin-bottom: 24px;
}

.home_4_row_text_heading_3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 33.6px;
	color: #000000;
	margin-bottom: 24px;
}

.home_4_row_text_text_3 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 24px;
}

.home_4_container_baton_3 {
	height: 32px;
    width: 405.33px;
    padding: 8px 0px 0px 0px;
}

.home_4_container_baton_GetStarted{
	border-radius: 35px;
	border: solid 1px #00000000;
	background-color: #00000000;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.home_5_front {
	background-image: url("/static/img/flat_pattern_bg.png");
	padding: 112px 64px 112px 64px;
	background-repeat: no-repeat;
}

.home_5_container_content{
	text-align: center;
}

.home_5_content_text_1 {
	font-weight: 700;
	font-size: 48px;
	line-height: 57.6px;
	color: #ffffff;
	margin-bottom: 24px;
}

.home_5_content_text_2 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	margin-bottom: 24px;
}

.home_5_container_baton {
	height: 64px;
    width: 240px;
    padding: 16px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	margin: auto;
}

.home_5_container_baton_Contact{
	border-radius: 35px;
	border: solid 1px #D0FFA3;
	padding: 12px 24px 12px 24px;
	background-color: #D0FFA3;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #070000;
	margin-right: 16px;
}

.home_5_container_baton_Scheledule {
	border-radius: 35px;
	border: solid 1px #D0FFA3;
	padding: 12px 24px 12px 24px;
	background-color: #cfffa300;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
}

.home_6_front {
	background-color: #ffffff;
	padding: 112px 64px 112px 64px;
}

.home_6_container {
	text-align: center;
	margin: auto;
	width:  768px;
}

.home_6_container_stars {
	margin-bottom: 32px;
}

.home_6_content_text_1 {
	font-weight: 700;
	font-size: 24px;
	line-height: 33.6px;
	color: #000000;
	margin-bottom: 24px;
}

.home_6_container_avatar {
    display: flex;
    justify-content: center;
}

.home_6_container_avatar_1 {
	text-align: center;
	border-right: solid 1px #12678B;
	display: flex;
}

.home_6_container_text_info {
	margin-right: 20px;
}

.home_6_content_text_2 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	display: block;
	text-align: left;
	margin-left: 20px;
}

.home_6_container_avatar_2 {
	display: flex;
	align-items: center;
	margin-left: 20px;
}

.home_7_front {
	background-color: #012130;
	padding: 112px 64px 112px 64px;
}

.home_7_container_title {
	margin-bottom: 80px;
}

.home_7_container_title_text_1 {
	font-weight: 700;
	font-size: 48px;
	line-height: 57.6px;
	color: #ffffff;
	margin-bottom: 24px;
}

.home_7_container_title_text_2 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
}

.home_7_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 64px;
}

.home_7_container_stars {
	margin-bottom: 32px;
}

.home_7_content_text_1 {
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	color: #ffffff;
	margin-bottom: 32px;
}

.home_7_container_avatar_1 {
    display: flex;
}
 
.home_7_container_avatar_img1 {
	text-align: center;
	border-right: solid 1px #12678B;
	display: flex;
}

.home_7_container_text_info_1 {
	margin-right: 20px;
}

.home_7_content_text_2 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #D0FFA3;
	display: block;
	text-align: left;
	margin-left: 20px;
}

.home_7_container_avatar_img2 {
	display: flex;
	align-items: center;
	margin-left: 20px;
}


.home_8_front {
	background-color: #ffffff;
	padding: 112px 64px 112px 64px;
}

.home_8_container{
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_8_container_title {
	display: grid;
	gap: 24px;
}

.home_8_container_title_text_1 {
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	color: #000000;
}

.home_8_container_title_text_2 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.home_8_container_actions_learnmore {
	border-radius: 35px;
	border: solid 1px #13678B;
	padding: 12px 24px 12px 24px;
	background-color: #13678B;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.home_8_container_actions_Getstarted {
	border-radius: 35px;
	border: solid 1px #13678B;
	padding: 12px 24px 12px 24px;
	background-color: #ffffff00;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}
/*конец хома*/