/*начало общих стилей*/

.mrg_down_14px {
	margin-bottom: 14px;
}

.mrg_down_24px {
	margin-bottom: 24px;
}
/*конец общих стилей*/

* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
	padding-top: 72px;
}

/*начало навбара*/
nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	border-bottom: 1px solid white;
	padding: 0px 64px 0px 64px;
	width: 100%;
	height: 72px;
	background-color: #012130;
	overflow: hidden;
}

.navbar_container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar_right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.navbar {
	list-style-type: none;
	text-align: center;
}

.navbar li {
	display: inline-block;
}

.navbar a {
	margin-right: 32px;
	display: block;
	text-decoration: none;
	color: white;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.learn, .sign_up {
	border-radius: 35px;
	padding: 8px, 20px, 8px, 20px;
	width: 95px;
	height: 40px;
	font-size: 16px;
}

.sign_up {
	background-color: #D0FFA3;
	color: black;
	border: none;
}

.learn {
	margin-right: 16px;
	background-color: #012130;
	border: solid 1px #D0FFA3;
	color: white;
}

/*конец навбара*/
/*начало футера*/

footer {
	padding: 80px 64px 80px 64px;
	background-color: #012130;
	color: white;
}

.newsletter_container {
	display: flex;
	align-items: flex-start;
	align-items: center;
	justify-content: space-between;
}

.newsletter_left {
	width: 500px;
}

.newsletter_right {
	width: 400px;
}

.join_our_newsletter {
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
}

.join_our_newsletter_2 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.newsletter_right input {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: black;
	background-color: D9D9D9;
	width: 265px;
	height: 48px;
	border-radius: 35px;
	border: solid 1px #FFFFFF;
	padding: 12px;
	margin-right: 8px;
	margin-bottom: 8px;
}

.form_email_under {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
}

.form_email_under a {
	text-decoration: underline;
	color: white;
}

.newsletter_right button {
	color: #FFFFFF;
	background-color: #012130;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	width: 119px;
	height: 48px;
	border-radius: 35px;
	border: solid 1px #D0FFA3;
	padding: 12px 24px 12px 24px;
}

.links {
	margin: 40px 0px 40px 160px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}

.links a {
	text-decoration: none;
	color: white;
	font-weight: 400;
}

.column_one {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}

.credits {
	height: 57px;
	border-top: solid 1px #D0FFA3;
	display: flex;
	align-items: flex-end;
}

.copyright {
	margin-right: 24px;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #FFFFFF;
}

.credits a {
	margin-right: 24px;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-decoration: underline;
	color: #F3F3F3;
}
/*конец футера*/

/*начало about us*/
.about_us_1 {
	width: 100%;
	padding: 112px 64px 112px 64px;
}

.about_us_1_container {
	width: 100%;
}

.about_us_1_container_content {
	align-items: center;
	height: 100%;
	display: grid;
	gap: 80px;
	grid-template-columns: 1fr 2fr;
}

.about_us_1_container_content_left {
	
}

.about_us_1_container_content_head {
	margin-bottom: 24px;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
}

.about_us_1_container_content_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.about_us_1_container_content_right {
	width: 100%;
	height: 640px;
	background-repeat: no-repeat;
	border-radius: 20px;
	background-image: url("/static/img/flat_pattern_bg.png");
}

.about_us_2 {
	padding: 112px 64px 112px 64px;
	background-color: #012130;
}

.about_us_2_content {
	display: flex;
	gap: 80px;
}

.about_us_2_content_column1_text {
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
}

.about_us_2_content_column2_text_up {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	margin-bottom: 32px;
}

.about_us_2_content_column2_text_down {
	display: flex;
	gap: 24px;
	padding: 8px 0px 8px 0px;
}

.about_us_2_content_column2_text_down_left_number,
.about_us_2_content_column2_text_down_right_number {
	font-weight: 700;
	font-size: 48px;
	line-height: 57.6px;
	color: #FFFFFF;
}

.about_us_2_content_column2_text_down_left_text,
.about_us_2_content_column2_text_down_right_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
}

.about_us_2_img {
	margin-top: 80px;
	width: 100%;
	height: 738px;
	border-radius: 20px;
	background-repeat: no-repeat;
	background-image: url("/static/img/flat_pattern_bg.png");
}

.about_us_3 {
	padding: 112px 64px 112px 64px;
	background-color: #FFFFFF;
}

.about_us_3_sectiontitle {
	margin: 0 auto;
	margin-bottom: 80px;
}

.about_us_3_sectiontitle_head {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 16px;
	text-align: center;
}

.about_us_3_sectiontitle_content_head {
	margin-bottom: 24px;
	font-weight: 700;
	font-size: 48px;
	line-height: 57.6px;
	color: #000000;
	text-align: center;
}

.about_us_3_sectiontitle_content_text {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #000000;
	text-align: center;
}

.about_us_3_content_row {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 32px;
	margin-bottom: 64px;
}

.about_us_3_content_row_card_content_title_up {
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	color: #000000;
	text-align: center;
}

.about_us_3_content_row_card_content_title_down {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #000000;
	text-align: center;
	margin-bottom: 16px;
}

.about_us_3_content_row_card_content_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	text-align: center;
	margin-bottom: 16px;
}

.about_us_3_content_row_card_socialicons {
	text-align: center;
}

.about_us_3_content_row_card_socialicons a {
	margin-right: 14px;
}

.about_us_3_content_row_card {
	text-align: center;
}

.about_us_4 {
	padding: 112px 64px 112px 64px;
	background-color: #012130;
}

.about_us_4_container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 80px;
}

.about_us_4_container_content {
	width: 616px;
}


.about_us_4_container_content_sectiontitle_head {
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	margin-bottom: 24px;
}

.about_us_4_container_content_sectiontitle_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	margin-bottom: 32px;
}

.about_us_4_container_content_img {
	width: 100%;
	height: 640px;
	border-radius: 20px;
	background-image: url("/static/img/flat_pattern_bg.png");
	background-repeat: no-repeat;
}

.about_us_4_container_content_list {
	padding: 8px 0px 8px 0px;
	gap: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.about_us_4_container_content_list_item_vector {
	background-image: url("/static/img/Vector.svg");
	width: 24px;
	height: 42px;
	margin-bottom: 16px;
}

.about_us_4_container_content_list_item_head {
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
	margin-bottom: 16px;
}

.about_us_4_container_content_list_item_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
}

.about_us_5 {
	padding: 80px 64px 80px 64px;
	background-color: #012130;
}

.about_us_5_continer {
	display: flex;
}

.about_us_5_continer_head {
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
	color: #FFFFFF;
	margin-right: 64px;
	width: 320px;
}

.about_us_5_logo {
	width: 169px;
	height: 36.65px;
	margin-right: 32px;
}

.about_us_5_openai {
	width: 142px;
	height: 35.13px;
	margin-right: 32px;
}

.about_us_6 {
	padding: 112px 64px 112px 64px;
}

.about_us_6_sectiontitle_head {
	font-weight: 700;
	font-size: 48px;
	line-height: 57.6px;
	color: #000000;
	text-align: center;
	margin-bottom: 24px;
}

.about_us_6_sectiontitle_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	text-align: center;
	margin-bottom: 80px;
}

.about_us_6_content {
	display: grid;
	gap: 32px;
	grid-template-columns: 1fr 1fr 1fr;
}

.about_us_6_content_img1 {
	background-image: url("/static/img/flat_pattern_bg.png");
}

.about_us_6_content_img2 {
	background-image: url("/static/img/flat_pattern_bg.png");
}

.about_us_6_content_img3 {
	background-image: url("/static/img/flat_pattern_bg.png");
}

.about_us_6_content_img1, .about_us_6_content_img2, .about_us_6_content_img3 {
	background-repeat: no-repeat;
	border-radius: 20px;
	width: 100%;
	height: 416px;
	margin-right: 32px;
}

.about_us_7 {
	position: relative;
	padding: 112px 64px 112px 64px;
	background: #01213080;
}

.about_us_7_img {
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.about_us_7_column_content_head {
	font-weight: 700;
	font-size: 48px;
	line-height: 57.6px;
	color: white;
	margin-bottom: 24px;
}

.about_us_7_column_content_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: white;
	margin-bottom: 24px;
}

.about_us_7_column_actions {
	padding-top: 16px;
}

.about_us_7_column_actions_feedback, 
.about_us_7_column_actions_service {
	border-radius: 35px;
	border: solid 1px #D0FFA3;
	padding: 12px 24px 12px 24px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.about_us_7_column_actions_feedback {
	background-color: #D0FFA3;
	color: #012130;
}

.about_us_7_column_actions_service {
	background-color: #01213080;
	color: white;
}
/*конец about us*/

/*начало services*/
.services_1 {
	padding: 112px 64px 112px 64px;
}

.services_1_content{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 80px;
}

.services_1_content_left_text {
	font-weight: 700;
	font-size: 56px;
	line-height: 67.2px;
	color: #012130;
}

.services_1_content_right_text {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #012130;
}

.services_2 {
	padding: 112px 64px 112px 64px;
	text-align: center;
}

.services_2_content {
	display: inline-block;
}

.services_2_content_column {
	margin-right: 48px;
	margin-bottom: 48px;
	text-align: center;
	display: inline-block;
	width: 405.33px;
}

.services_2_content_column:last-child {
	margin-right: 0px;
}

.services_2_content_column_content_head {
	font-weight: 700;
	font-size: 32px;
	line-height: 41.6px;
	color: #012130;
	margin-bottom: 24px;
}

.services_2_content_column_content_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #012130;
	margin-bottom: 24px;
}

.services_2_content_column_action a {
	text-decoration: none;
	color: #012130;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.services_2_content_column_action button {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	border-radius: 35px;
	padding: 12px 24px 12px 24px;
	border: solid 1px #13678B;
	background-color: white;
}

.services_2_content_column_action img {
	vertical-align: middle;
	margin-left: 8px;
}
/*конец services*/

/*начало list_page*/
.list_page_1 {
	padding: 112px 64px 112px 64px;
	background-color: #FFFFFF;
}

.list_page_1_sectiontitle_head {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 16px;
}

.list_page_1_sectiontitle_content_head {
	font-weight: 700;
	font-size: 56px;
	line-height: 67.2px;
	color: #000000;
	margin-bottom: 24px;
}

.list_page_1_sectiontitle_content_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 80px;
}

.list_page_1_content_card {
	margin-bottom: 88px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.list_page_1_content_card_left {
	background-repeat: no-repeat;
	width: 100%;
	height: 500px;
	border-radius: 20px;
	background-image: url("/static/img/flat_pattern_bg.png");
}

.list_page_1_content_card_right {
	padding: 0px 0px 0px 48px;
}

.list_page_1_content_card_right_content_head {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 8px;
}

.list_page_1_content_card_right_content_blog {
	font-weight: 700;
	font-size: 32px;
	line-height: 41.6px;
	color: #000000;
	margin-bottom: 8px;
}

.list_page_1_content_card_right_content_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 24px;
}

.list_page_1_content_card_right_avatar {
	display: flex;
}

.list_page_1_content_card_right_avatar_img {
	background-image: url("/static/img/flat_pattern_bg.png");
	width: 48px;
	height: 48px;
	border-radius: 20px;
	margin-right: 16px;
}

.list_page_1_content_card_right_avatar_content_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.list_page_1_content_card_right_avatar_content_time {
	display: flex;
}

.list_page_1_content_card_right_avatar_content_time_1 {
	ont-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-right: 8px;
}

.list_page_1_content_card_right_avatar_content_time_2 {
	ont-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #000000;
	margin-right: 8px;
}

.list_page_1_content_card_right_avatar_content_time_3 {
	ont-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.list_page_1_content_content_categories {
	margin-bottom: 64px;
}

.list_page_1_content_content_categories button {
	border-radius: 20px;
	padding: 8px 16px 8px 16px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	background-color: white;
	border: none;
}

.list_page_1_content_content_content_row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 32px;
	margin-bottom: 64px;
}

.list_page_1_content_content_content_row_card_img {
	background-image: url("/static/img/flat_pattern_bg.png");
	width: 416px;
	height: 300px;
	border-radius: 20px;
	margin-bottom: 24px;
}

.list_page_1_content_content_content_row_card_content {
	margin-bottom: 24px;
}

.list_page_1_content_content_content_row_card_content_1 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 8px;
}

.list_page_1_content_content_content_row_card_content_2 {
	font-weight: 700;
	font-size: 24px;
	line-height: 33.6px;
	color: #000000;
	margin-bottom: 8px;
}

.list_page_1_content_content_content_row_card_content_3 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

/*конец list_page*/

/*начало blog_post*/
.blog_post1 {
	padding: 112px 64px 112px 64px;
} 

.blog_post1_content {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 80px;
}

.blog_post1_content_right {
	background-image: url("/static/img/flat_pattern_bg.png");
	width: 100%;
	height: 100%;
}

.blog_post1_content_left_sectiontitle_social_head {
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	margin-bottom: 16px;
}

.blog_post1_content_left_sectiontitle_social_icons_1,
.blog_post1_content_left_sectiontitle_social_icons_2,
.blog_post1_content_left_sectiontitle_social_icons_3,
.blog_post1_content_left_sectiontitle_social_icons_4 {
	margin-right: 8px;
	border-radius: 64px;
	padding: 4px;
	background: var(--Color-Neutral-neutral-lightest, #EEEEEE);
}

.blog_post1_content_left_sectiontitle_title_content1 {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.blog_post1_content_left_sectiontitle_title_content1_blog,
.blog_post1_content_left_sectiontitle_title_content1_category {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-right: 8px;
}

.blog_post1_content_left_sectiontitle_title_content1_icon {
	background-image: url("/static/img/arrow.svg");
	width: 16px;
	height: 16px;
	margin-right: 8px;
}

.blog_post1_content_left_sectiontitle_title_content2_blog {
	font-size: 48px;
	font-weight: 700;
	line-height: 57.6px;
	margin-bottom: 48px;
}

.blog_post1_content_left_sectiontitle_title_content2_content_container {
	display: flex;
	margin-bottom: 8px;
}

.blog_post1_content_left_sectiontitle_title_content2_content_container_by {
	margin-right: 4px;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.blog_post1_content_left_sectiontitle_title_content2_content_container_name {
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
}

.blog_post1_content_left_sectiontitle_title_content2_content_time {
	display: flex;
}

.blog_post1_content_left_sectiontitle_title_content2_content_time_1,
.blog_post1_content_left_sectiontitle_title_content2_content_time_3 {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	margin-right: 8px;
}

.blog_post1_content_left_sectiontitle_title_content2_content_time_2 {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	margin-right: 8px;
}

.blog_post2 {
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: 112px 64px 112px 64px;
	gap: 80px;
}

.blog_post2_richtext {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #000000;
}

/*конец blog_post*/

/*начало contact*/

.contact {
	width: 70%;
	margin: auto;
	padding: 112px 64px 112px 64px;
}

.contact_sectiontitle_head {
	margin-bottom: 16px;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	color: #012130;
}

.contact_sectiontitle {
	margin-bottom: 48px;
}

.contact_sectiontitle_content_head {
	margin-bottom: 16px;
	font-size: 48px;
	font-weight: 700;
	line-height: 57.6px;
	color: #012130;
}

.contact_sectiontitle_content_text {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #012130;
}

.contact_form_tabl {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;
}

.contact_form label {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #012130;
	margin-bottom: 8px;
}

.contact_form_tabl_left label, .contact_form_tabl_right label {
	display: block;
}

.contact_form input[type="email"],
.contact_form input[type="text"] {
	border: 1px solid #13678B;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 12px;
	border-radius: 35px;
	width: 100%;
	margin-bottom: 24px;
}

.contact_form button {
	border: 1px solid #13678B;
	padding: 12px 24px 12px 24px;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	background-color: #13678B;
	border-radius: 35px;
}

.contact_form textarea {
	padding: 12px;
	border-radius: 20px;
	border: solid 1px #13678B;
	min-width: 100%;
	max-width: 100%;
	min-height: 180px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
/*конец contact*/

/*начало хома*/
.home_1_front {
	background-color: #012130;
	width: 100%;
	height: 900px;
	padding: 0px 64px 0px 64px;
}

.home_1_container {
    width: 560px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home_1_container_content_head {
	font-weight: 700;
	font-size: 50px;
	line-height: 67.2px;
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	margin-bottom: 24px;
}

.home_1_container_content_text {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	margin-bottom: 24px;
}

.home_1_container_baton {
	height: 64px;
	width: 270px;
	margin-right: 24px;
}

.home_1_container_baton_learnmore{
	border-radius: 35px;
	border: solid 1px #D0FFA3;
	padding: 12px 24px 12px 24px;
	background-color: #D0FFA3;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #012130;
}
.home_1_container_baton_singup {
	border-radius: 35px;
	border: solid 1px #D0FFA3;
	padding: 12px 24px 12px 24px;
	background-color: #cfffa300;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}







.home_2_front {
	background-color: #ffffff;
	width: 100%;
	height: 864px;
	padding: 112px 64px 112px 64px;
}

.home_2_container {
	align-items: center;
	width: 100%;
	display: flex;
}

.home_2_container_content {
	width: 616px;
	height: 342px;
	margin-right: 24px;
}

.home_2_container_content_section_title {
	width: 616px;
	height: 254px;
	gap: 24px;
}

.home_2_container_content_vector {
	width: 76px;
	height: 76px;
	background-image: url("../../assets/img/extra_pattern_BG_screen.png");
	margin-bottom: 24px;
}

.home_2_container_content_section_title_content {
	width: 616px;
	height: 154px;
}

.home_2_container_content_head {
	font-weight: 700;
	font-size: 46px;
	line-height: 57.6px;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	margin-bottom: 24px;
}

.home_2_container_content_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	margin-bottom: 24px;
}

.home_2_container_baton {
	height: 64px;
    width: 240px;
    padding: 16px 0px 0px 0px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.home_2_container_baton_learnmore{
	border-radius: 35px;
	border: solid 1px #13678B;
	padding: 12px 24px 12px 24px;
	background-color: #cfffa300;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #012130;
}
.home_2_container_baton_singup {
	border-radius: 35px;
	border: solid 1px #cfffa300;
	padding: 12px 24px 12px 24px;
	background-color: #cfffa300;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #000000;
}

.home_2_container_content_section_img {
	width: 616px;
	height: 640px;
	border-radius: 35px;
	background-image: url("/static/img/flat_pattern_bg.png");
}







.home_3_front {
	background-color: #012130;
	width: 100%;
	height: 864px;
	padding: 112px 64px 112px 64px;
}

.home_3_container {
	align-items: center;
	width: 100%;
	display: flex;
}

.home_3_container_content {
	width: 616px;
	height: 516px;
	margin-right: 24px;
}

.home_3_container_content_content {
	width: 616px;
	height: 428px;
	margin-bottom: 16px;
}

.home_3_container_content_content_section_title {
	width: 616px;
	height: 252px;
	margin-bottom: 16px;
}

.home_3_container_content_subherding {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	margin-bottom: 16px;
}

.home_3_container_content_content_section_title_content {
	width: 616px;
	height: 212px;
	gap: 24px;
}

.home_3_container_content_head {
	font-weight: 700;
	font-size: 48px;
	line-height: 57.6px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	margin-bottom: 24px;
}

.home_3_container_content_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	margin-bottom: 24px;
}

.home_3_container_content_content_list {
	width: 616px;
	height: 144px;
	padding: 8px 0px 8px 0px;
	gap: 16px;
}

.home_3_container_content_content_list_item_1 {
	width: 616px;
	height: 24px;
	gap: 16px;
	display: flex;
	margin-bottom: 24px;
}

.home_3_container_content_vector_1 {
	width: 18px;
	height: 18px;
	background-image: url("../../assets/img/шестерня.png");
}

.home_3_container_content_content_list_item_text_1 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}

.home_3_container_content_content_list_item_2 {
	width: 616px;
	height: 24px;
	gap: 16px;
	display: flex;
	margin-bottom: 48px;
}

.home_3_container_content_vector_2 {
	width: 18px;
	height: 18px;
	background-image: url("../../assets/img/шестерня.png");
}

.home_3_container_content_content_list_item_text_2 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	gap: 16px;
}

.home_3_container_content_content_list_item_3 {
	width: 616px;
	height: 24px;
	gap: 16px;
	display: flex;
	margin-bottom: 24px;
}

.home_3_container_content_vector_3 {
	width: 18px;
	height: 18px;
	background-image: url("../../assets/img/шестерня.png");
}

.home_3_container_content_content_list_item_text_3 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}

.home_3_container_baton {
	height: 64px;
    width: 240px;
    padding: 16px 0px 0px 0px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.home_3_container_baton_learnmore{
	border-radius: 35px;
	border: solid 1px #D0FFA3;
	padding: 12px 24px 12px 24px;
	background-color: #cfffa300;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}
.home_3_container_baton_singup {
	border-radius: 35px;
	border: solid 1px #cfffa300;
	padding: 12px 24px 12px 24px;
	background-color: #cfffa300;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}

.home_3_container_content_section_img {
	width: 616px;
	height: 640px;
	border-radius: 35px;
	background-image: url("../../assets/img/flat_pattern_bg.png");
}




.home_4_front {
	background-color: #ffffff;
	width: 100%;
	height: 720px;
	padding: 112px 64px 112px 64px;
	gap: 80px;
}

.home_4_container_text {
	width: 800;
	height: 96px;
	margin-bottom: 80px;
}

.home_4_text {
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	font-family: 'Roboto', sans-serif;
	color: #000000;
}


.home_4_row {
	display: flex;
}

.home_4_row_list_item_1 {
	width: 405.33px;
	height: 292px;
	gap: 24px;
	margin-bottom: 24px;
	margin-right: 48px;
}

.home_4_row_vector_1 {
	width: 48px;
	height: 48px;
	background-image: url("../../assets/img/шестерня.png");
	margin-bottom: 24px;
}

.home_4_row_text_heading_1 {
	font-weight: 700;
	font-size: 24px;
	line-height: 33.6px;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	margin-bottom: 24px;
}

.home_4_row_text_text_1 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	margin-bottom: 24px;
}

.home_4_container_baton_1 {
	height: 32px;
    width: 405.33px;
    padding: 8px 0px 0px 0px;
}

.home_4_container_baton_learnmore{
	border-radius: 35px;
	border: solid 1px #00000000;
	background-color: #00000000;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #000000;
}





.home_4_row_list_item_2 {
	width: 405.33px;
	height: 268px;
	gap: 24px;
	margin-bottom: 24px;
	margin-right: 48px;
}

.home_4_row_vector_2 {
	width: 48px;
	height: 48px;
	background-image: url("../../assets/img/шестерня.png");
	margin-bottom: 24px;
}

.home_4_row_text_heading_2 {
	font-weight: 700;
	font-size: 23px;
	line-height: 33.6px;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	margin-bottom: 24px;
}

.home_4_row_text_text_2 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	margin-bottom: 24px;
}

.home_4_container_baton_2 {
	height: 32px;
    width: 405.33px;
    padding: 8px 0px 0px 0px;
}

.home_4_container_baton_SignUp{
	border-radius: 35px;
	border: solid 1px #00000000;
	background-color: #00000000;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #000000;
}



.home_4_row_list_item_3 {
	width: 405.33px;
	height: 268px;
	gap: 24px;
	margin-bottom: 24px;
}

.home_4_row_vector_3 {
	width: 48px;
	height: 48px;
	background-image: url("../../assets/img/шестерня.png");
	margin-bottom: 24px;
}

.home_4_row_text_heading_3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 33.6px;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	margin-bottom: 24px;
}

.home_4_row_text_text_3 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	margin-bottom: 24px;
}

.home_4_container_baton_3 {
	height: 32px;
    width: 405.33px;
    padding: 8px 0px 0px 0px;
}

.home_4_container_baton_GetStarted{
	border-radius: 35px;
	border: solid 1px #00000000;
	background-color: #00000000;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #000000;
}











/*конец хома*/