{% extends "base.html" %}
{% block title %}
About us
{% endblock %}
{% block content %}
<div class="home_1_front">
    <div class="home_1_container">
        <div class="home_1_container_content">
            <div class="home_1_container_content_left">
                <div class="home_1_container_content_head"> 
                 Revolutionizing industries with AI and automation solutions  </div>
                <div class="home_1_container_content_text">
                Green Gear Inc is at the forefront of AI and automation, providing innovative solutions that transform businesses. </div>        
            </div> 
        </div> <br> 
        <div class="home_1_container_baton">
            <button class="home_1_container_baton_learnmore" style="margin-right: 16px;">Learn More</button>
            <button class="home_1_container_baton_singup">Sign Up</button>
        </div> 
    </div>

</div>


<div class="home_2_front">
    <div class="home_2_container">
        <div class="home_2_container_content">
            <div class="home_2_container_content_section_title">
                <div class="home_2_container_content_vector"> 
                </div>
                    <div class="home_2_container_content_section_title_content"> 
                        <div class="home_2_container_content_head"> 
                        Welcome to Green Gear Inc.</div>
                        <div class="home_2_container_content_text">
                         At Green Gear Inc, we are passionate about leveraging AI technology to automate and optimize business processes. Our mission is to provide innovative solutions that drive efficiency and growth for companies. </div>        
                    </div>
            </div>
                    <div class="home_2_container_baton">
                        <button class="home_2_container_baton_learnmore" style="margin-right: 16px;">Learn More</button>
                         <button class="home_2_container_baton_singup">Sign Up ></button>
                    </div> 
        </div>
                <div class="home_2_container_content_section_img">
                </div>

    </div>              
</div>




<div class="home_3_front">
    <div class="home_3_container">
        <div class="home_3_container_content">
            <div class="home_3_container_content_content">
                    <div class="home_3_container_content_content_section_title"> 
                        <div class="home_3_container_content_subherding"> 
                        Revolutionary</div>
                    <div class="home_3_container_content_content_section_title_content"> 
                        <div class="home_3_container_content_head"> 
                        Unleashing the Power of Advanced AI Technology</div>
                        <div class="home_3_container_content_text">
                        At Green Gear Inc, we harness the cutting-edge capabilities of AI to provide automation services that transform businesses. Our advanced AI technology streamlines processes, enhances efficiency, and drives growth. </div>        
                    </div>
                    </div>
                    <div class="home_3_container_content_content_list"> 
                        <div class="home_3_container_content_content_list_item_1">
                            <div class="home_3_container_content_vector_1"></div>     
                            <div class="home_3_container_content_content_list_item_text_1"> Efficiently automate your operations with our AI-powered solutions.</div>
                        </div>
                        <div class="home_3_container_content_content_list_item_2">
                            <div class="home_3_container_content_vector_2"> </div>     
                            <div class="home_3_container_content_content_list_item_text_2"> Unlock new possibilities and achieve unprecedented productivity with AI automation.</div>
                        </div>
                        <div class="home_3_container_content_content_list_item_3">
                            <div class="home_3_container_content_vector_3"></div>     
                            <div class="home_3_container_content_content_list_item_text_3"> Experience the future of business automation with Green Gear Inc. </div>
                        </div>
                    </div>
            </div>
                        <div class="home_3_container_baton">
                        <button class="home_3_container_baton_learnmore" style="margin-right: 16px;">Learn More</button>
                        <button class="home_3_container_baton_singup">Sign Up</button>
                        </div> 
        </div>
                <div class="home_3_container_content_section_img"></div>
    </div>              
</div>




<div class="home_4_front">
    <div class="home_4_container_text">
    <div class="home_4_text"> Streamline your business operations with Green Gear Inc's AI solutions</div>
    </div>   

        <div class="home_4_row">
            <div class="home_4_row_list_item_1">
            <div class="home_4_row_vector_1"> </div>     
            <div class="home_4_row_text_heading_1"> Optimize efficiency using our cutting-edge AI technology</div>
            <div class="home_4_row_text_text_1"> Our AI solutions seamlessly integrate into your existing business processes, enhancing productivity and performance.</div>
            <div class="home_4_container_baton_1">
                <button class="home_4_container_baton_learnmore" >Learn More ></button>
                </div> 
            </div>

            <div class="home_4_row_list_item_2">
                <div class="home_4_row_vector_2"> </div>     
                <div class="home_4_row_text_heading_2"> Unlock new possibilities with Green Gear Inc's AI-powered applications</div>
                <div class="home_4_row_text_text_2"> Our AI applications provide innovative solutions for your business needs, enabling growth and success.</div>
                <div class="home_4_container_baton_2">
                    <button class="home_4_container_baton_SignUp" >Sign Up ></button>
                    </div> 
            </div>

            <div class="home_4_row_list_item_3">
                <div class="home_4_row_vector_3"> </div>     
                <div class="home_4_row_text_heading_3"> Stay ahead of the competition with our AI-driven solutions</div>
                <div class="home_4_row_text_text_3"> Our AI-driven solutions empower your business to outperform competitors and achieve strategic goals.</div>
                <div class="home_4_container_baton_3">
                    <button class="home_4_container_baton_GetStarted" >Get Started ></button>
                    </div> 
            </div>
            
        </div>
</div>

<div class="home_5_front">
    <div class="home_3_container"> 
        <div class="home_3_container_content"> 
        
        </div>
    </div>

</div>

{% endblock %}

