{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}
<div class="about_us_1">
	<div class="about_us_1_container">
		<div class="about_us_1_container_content">
			<div class="about_us_1_container_content_left">
				<div class="about_us_1_container_content_head">Placeholder</div>
				<div class="about_us_1_container_content_text">Green Gear Inc is an innovative IT company specializing in automation and AI applications. With a rich history and a clear vision for the future, we have evolved to become a leader in the industry.</div>
			</div>
			<div class="about_us_1_container_content_right">
			</div>
		</div>
	</div>
</div>
<div class="about_us_2">
	<div class="about_us_2_content">
		<div class="about_us_2_content_column1">
			<div class="about_us_2_content_column1_text">Driving Innovation and Automation with AI Solutions for Companies</div>
		</div>
		<div class="about_us_2_content_column2">
			<div class="about_us_2_content_column2_text_up">Green Gear Inc has achieved remarkable growth and success by providing cutting-edge AI applications and automation solutions to companies.</div>
			<div class="about_us_2_content_column2_text_down">
				<div class="about_us_2_content_column2_text_down_left">
					<div class="about_us_2_content_column2_text_down_left_number">50%</div>
					<div class="about_us_2_content_column2_text_down_left_text">Increase in Revenue by Implementing AI-driven Automation Solutions</div>
				</div>
				<div class="about_us_2_content_column2_text_down_right">
					<div class="about_us_2_content_column2_text_down_right_number">50%</div>
					<div class="about_us_2_content_column2_text_down_right_text">Reduction in Operational Costs through AI-powered Automation</div>
				</div>
			</div>
		</div>
	</div>
	<div class="about_us_2_img"></div>
</div>
<div class="about_us_3">
	<div class="about_us_3_sectiontitle">
		<div class="about_us_3_sectiontitle_head">Innovate</div>
		<div class="about_us_3_sectiontitle_content">
			<div class="about_us_3_sectiontitle_content_head">Meet Our Team</div>
			<div class="about_us_3_sectiontitle_content_text">Get to know the leaders behind Green Gear Inc.</div>
		</div>
	</div>
	<div class="about_us_3_content">
		<div class="about_us_3_content_row">
			<div class="about_us_3_content_row_card">
				<img src="/static/img/flat_pattern_bg.png" style="width: 304px; height: 296px; border-radius: 20px; margin-bottom: 24px;">
				<div class="about_us_3_content_row_card_content">
					<div class="about_us_3_content_row_card_content_title">
						<div class="about_us_3_content_row_card_content_title_up">John Doe</div>
						<div class="about_us_3_content_row_card_content_title_down">CEO</div>
					</div>
					<div class="about_us_3_content_row_card_content_text">John Doe is a visionary leader with a passion for AI technology.</div>
				</div>
				<div class="about_us_3_content_row_card_socialicons">
					<a href="#"><img src="/static/img/linkedIn.svg"></a>
					<a href="#"><img src="/static/img/X.svg"></a>
					<a href="#"><img src="/static/img/Dribble.svg"></a>
				</div>
			</div>
			<div class="about_us_3_content_row_card">
				<img src="/static/img/flat_pattern_bg.png" style="width: 304px; height: 296px; border-radius: 20px; margin-bottom: 24px;">
				<div class="about_us_3_content_row_card_content">
					<div class="about_us_3_content_row_card_content_title">
						<div class="about_us_3_content_row_card_content_title_up">Jane Smith</div>
						<div class="about_us_3_content_row_card_content_title_down">CTO</div>
					</div>
					<div class="about_us_3_content_row_card_content_text">Jane Smith is an expert in developing cutting-edge automation applications.</div>
				</div>
				<div class="about_us_3_content_row_card_socialicons">
					<a href="#"><img src="/static/img/linkedIn.svg"></a>
					<a href="#"><img src="/static/img/X.svg"></a>
					<a href="#"><img src="/static/img/Dribble.svg"></a>
				</div>
			</div>
			<div class="about_us_3_content_row_card">
				<img src="/static/img/flat_pattern_bg.png" style="width: 304px; height: 296px; border-radius: 20px; margin-bottom: 24px;">
				<div class="about_us_3_content_row_card_content">
					<div class="about_us_3_content_row_card_content_title">
						<div class="about_us_3_content_row_card_content_title_up">Michael Johnson</div>
						<div class="about_us_3_content_row_card_content_title_down">COO</div>
					</div>
					<div class="about_us_3_content_row_card_content_text">Michael Johnson oversees the operational aspects of Green Gear Inc.</div>
				</div>
				<div class="about_us_3_content_row_card_socialicons">
					<a href="#"><img src="/static/img/linkedIn.svg"></a>
					<a href="#"><img src="/static/img/X.svg"></a>
					<a href="#"><img src="/static/img/Dribble.svg"></a>
				</div>
			</div>
			<div class="about_us_3_content_row_card">
				<img src="/static/img/flat_pattern_bg.png" style="width: 304px; height: 296px; border-radius: 20px; margin-bottom: 24px;">
				<div class="about_us_3_content_row_card_content">
					<div class="about_us_3_content_row_card_content_title">
						<div class="about_us_3_content_row_card_content_title_up">Emily Davis</div>
						<div class="about_us_3_content_row_card_content_title_down">CFO</div>
					</div>
					<div class="about_us_3_content_row_card_content_text">Emily Davis ensures the financial stability and growth of the company.</div>
				</div>
				<div class="about_us_3_content_row_card_socialicons">
					<a href="#"><img src="/static/img/linkedIn.svg"></a>
					<a href="#"><img src="/static/img/X.svg"></a>
					<a href="#"><img src="/static/img/Dribble.svg"></a>
				</div>
			</div>
			<div class="about_us_3_content_row_card">
				<img src="/static/img/flat_pattern_bg.png" style="width: 304px; height: 296px; border-radius: 20px; margin-bottom: 24px;">
				<div class="about_us_3_content_row_card_content">
					<div class="about_us_3_content_row_card_content_title">
						<div class="about_us_3_content_row_card_content_title_up">David Wilson</div>
						<div class="about_us_3_content_row_card_content_title_down">CTO</div>
					</div>
					<div class="about_us_3_content_row_card_content_text">David Wilson leads the development of innovative AI solutions.</div>
				</div>
				<div class="about_us_3_content_row_card_socialicons">
					<a href="#"><img src="/static/img/linkedIn.svg"></a>
					<a href="#"><img src="/static/img/X.svg"></a>
					<a href="#"><img src="/static/img/Dribble.svg"></a>
				</div>
			</div>
			<div class="about_us_3_content_row_card">
				<img src="/static/img/flat_pattern_bg.png" style="width: 304px; height: 296px; border-radius: 20px; margin-bottom: 24px;">
				<div class="about_us_3_content_row_card_content">
					<div class="about_us_3_content_row_card_content_title">
						<div class="about_us_3_content_row_card_content_title_up">Sarah Thompson</div>
						<div class="about_us_3_content_row_card_content_title_down">CMO</div>
					</div>
					<div class="about_us_3_content_row_card_content_text">Sarah Thompson drives the marketing strategies and brand positioning of Green Gear Inc.</div>
				</div>
				<div class="about_us_3_content_row_card_socialicons">
					<a href="#"><img src="/static/img/linkedIn.svg"></a>
					<a href="#"><img src="/static/img/X.svg"></a>
					<a href="#"><img src="/static/img/Dribble.svg"></a>
				</div>
			</div>
			<div class="about_us_3_content_row_card">
				<img src="/static/img/flat_pattern_bg.png" style="width: 304px; height: 296px; border-radius: 20px; margin-bottom: 24px;">
				<div class="about_us_3_content_row_card_content">
					<div class="about_us_3_content_row_card_content_title">
						<div class="about_us_3_content_row_card_content_title_up">We're hiring!</div>
						<div class="about_us_3_content_row_card_content_title_down">Join our team and be part of our innovative projects.</div>
					</div>
					<div class="about_us_3_content_row_card_content_text">Open positions</div>
				</div>
				<div class="about_us_3_content_row_card_socialicons">
					<a href="#"><img src="/static/img/linkedIn.svg"></a>
					<a href="#"><img src="/static/img/X.svg"></a>
					<a href="#"><img src="/static/img/Dribble.svg"></a>
				</div>
			</div>
			<div class="about_us_3_content_row_card">
				<img src="/static/img/flat_pattern_bg.png" style="width: 304px; height: 296px; border-radius: 20px; margin-bottom: 24px;">
				<div class="about_us_3_content_row_card_content">
					<div class="about_us_3_content_row_card_content_title">
						<div class="about_us_3_content_row_card_content_title_up">Full name</div>
						<div class="about_us_3_content_row_card_content_title_down">Job title</div>
					</div>
					<div class="about_us_3_content_row_card_content_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</div>
				</div>
				<div class="about_us_3_content_row_card_socialicons">
					<a href="#"><img src="/static/img/linkedIn.svg"></a>
					<a href="#"><img src="/static/img/X.svg"></a>
					<a href="#"><img src="/static/img/Dribble.svg"></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="about_us_4">
	<div class="about_us_4_container">
		<div class="about_us_4_container_content">
			<div class="about_us_4_container_content_sectiontitle">
				<div class="about_us_4_container_content_sectiontitle_head">Revolutionizing AI and Automation: Green Gear Inc's Impactful Products</div>
				<div class="about_us_4_container_content_sectiontitle_text">At Green Gear Inc, we have developed cutting-edge products that have transformed the AI and automation landscape. Our innovative solutions empower businesses to streamline operations, increase efficiency, and drive growth.</div>
			</div>
			<div class="about_us_4_container_content_list">
				<div class="about_us_4_container_content_list_item">
					<div class="about_us_4_container_content_list_item_vector"></div>
					<div class="about_us_4_container_content_list_item_head">Enhanced Efficiency</div>
					<div class="about_us_4_container_content_list_item_text">Our AI-powered applications have revolutionized how companies operate, enabling them to achieve unprecedented levels of efficiency.</div>
				</div>
				<div class="about_us_4_container_content_list_item">
					<div class="about_us_4_container_content_list_item_vector"></div>
					<div class="about_us_4_container_content_list_item_head">Seamless Integration</div>
					<div class="about_us_4_container_content_list_item_text">With our products, businesses can seamlessly integrate AI and automation into their existing workflows.</div>
				</div>
			</div>
		</div>
		<div class="about_us_4_container_content_img"></div>
	</div>
</div>
<div class="about_us_5">
	<div class="about_us_5_continer">
		<div class="about_us_5_continer_head">Trusted by industry-leading companies around the globe</div>
		<div class="about_us_5_continer_content">
			<img class="about_us_5_logo" src="/static/img/Content.png">
			<img class="about_us_5_openai" src="/static/img/openai.svg">
			<img class="about_us_5_logo" src="/static/img/Content.png">
			<img class="about_us_5_openai" src="/static/img/openai.svg">
			<img class="about_us_5_logo" src="/static/img/Content.png" style="margin-right: 0px;">
		</div>
	</div>
</div>
<div class="about_us_6">
	<div class="about_us_6_sectiontitle">
		<div class="about_us_6_sectiontitle_head">Image Collection</div>
		<div class="about_us_6_sectiontitle_text">Explore our vibrant company culture and office environment.</div>
	</div>
	<div class="about_us_6_content">
		<div class="about_us_6_content_img1"></div>
		<div class="about_us_6_content_img2"></div>
		<div class="about_us_6_content_img3" style="margin-right: 0px;"></div>
	</div>
</div>
<div class="about_us_7">
	<div class="about_us_7_img" src="/static/img/flat_pattern_bg.png"></div>
	<div class="about_us_7_column">
		<div class="about_us_7_column_content">
			<div class="about_us_7_column_content_head">Contact Us for Partnerships</div>
			<div class="about_us_7_column_content_text">If you have any partnership inquiries or press requests, please don't hesitate to reach out to us.</div>		
		</div>
		<div class="about_us_7_column_actions">
			<button class="about_us_7_column_actions_feedback" style="margin-right: 16px;">Feedback</button>
			<button class="about_us_7_column_actions_service">Service</button>
		</div>
	</div>
</div>
{% endblock %}