<div class="home_7_front">
    <div class="home_7_container_title">
        <div class="home_7_container_title_text_1"> Client Feedback</div>
        <div class="home_7_container_title_text_2"> Hear what our clients have
            to say about our services
        </div>
    </div>
    <div class="home_7_container">
        {% for feedback in feedbacks %}
            <div class="home_7_content_1">
                <div class="home_7_container_stars">
                    <img src="/static/img/Stars1.svg" alt="123">
                </div>
                <div class="home_7_content_text_1"> {{ feedback.feedback }}
                </div>
                <div class="home_7_container_avatar_1">
                    <div class="home_7_container_avatar_img1">
                        <img src="/static/img/Avatar Image.svg" alt="123">
                        <div class="home_7_container_text_info_1">
                            <div class="home_7_content_text_2">{{ feedback.full_name }}</div>
                            <div class="home_7_content_text_2"> {{ feedback.place }},
                                {{ feedback.corporation }}
                            </div>
                        </div>
                    </div>
                    <div class="home_7_container_avatar_img2">
                        <img src="/static/img/Group 2.svg" alt="123">
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

</div>