{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}
<div class="blog_post1">
    <div class="blog_post1_content">
        <div class="blog_post1_content_left">
            <div class="blog_post1_content_left_sectiontitle">
                <div class="blog_post1_content_left_sectiontitle_title">
                    <div class="blog_post1_content_left_sectiontitle_title_content1">
{#                        <div class="blog_post1_content_left_sectiontitle_title_content1_blog">Automation</div>#}
                        <div class="blog_post1_content_left_sectiontitle_title_content1_icon"></div>
                        <div class="blog_post1_content_left_sectiontitle_title_content1_category">
                            {{ post.category }}</div>
                    </div>
                    <div class="blog_post1_content_left_sectiontitle_title_content2">
                        <div class="blog_post1_content_left_sectiontitle_title_content2_blog">
                            {{ post.title }}</div>
                        <div class="blog_post1_content_left_sectiontitle_title_content2_content">
                            <div class="blog_post1_content_left_sectiontitle_title_content2_content_container">
                                <div class="blog_post1_content_left_sectiontitle_title_content2_content_container_by">By</div>
                                <div class="blog_post1_content_left_sectiontitle_title_content2_content_container_name">{{ post.author }}</div>
                            </div>
                            <div class="blog_post1_content_left_sectiontitle_title_content2_content_time">
                                <div class="blog_post1_content_left_sectiontitle_title_content2_content_time_1">{{ top_post.created_at|date:"d M Y" }}</div>
                                <div class="blog_post1_content_left_sectiontitle_title_content2_content_time_2">•</div>
                                <div class="blog_post1_content_left_sectiontitle_title_content2_content_time_3">5 minute read</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog_post1_content_left_sectiontitle_social">
                    <div class="blog_post1_content_left_sectiontitle_social_head">Share this post</div>
                    <div class="blog_post1_content_left_sectiontitle_social_icons">
                        <a href="#"><img src="/static/img/share.svg" class="blog_post1_content_left_sectiontitle_social_icons_1"></a>
                        <a href="#"><img src="/static/img/LinkedIn1.svg" class="blog_post1_content_left_sectiontitle_social_icons_2"></a>
                        <a href="#"><img src="/static/img/X1.svg" class="blog_post1_content_left_sectiontitle_social_icons_3"></a>
                        <a href="#"><img src="/static/img/facebook.svg" class="blog_post1_content_left_sectiontitle_social_icons_4"></a>
                    </div>
                </div>
            </div>
        </div>
        {% if post.image %}
        <div class="blog_post1_content_right" style="background-image: url({{ post.image.url }});"></div>
        {% else %}
        <div class="blog_post1_content_right"></div>
        {% endif %}
    </div>
</div>
<div class="blog_post2">
    <div></div>
    <div class="blog_post2_richtext">
        {{ post.text }}    </div>
</div>
{% endblock %}